{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<h1>과제 1</h1>
<hr>
<img src = {% static 'img/lion.jpg' %} width=100 height=100 ><br>
<h2>자기소개</h2>
<p>안녕하세요~ 저는 이번에 멋쟁이 사자처럼 7기가 된 덕성여자대학교 IT미디어공학과 이태림이라고 합니다.</p>
<p><p1>아기 사자</p1><img src="https://pbs.twimg.com/profile_images/843735088999223296/UhJARJXh_400x400.jpg" width=50 height=50>가 되어 정말 기쁘고 멋쟁이 사자<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR3U377_jIOWw5qr91oQ_GzWd5DaD95_RS7MD2e3zc6ayen8-6" width=50 height=50>가 되는 그날까지 열심히 최선을 다하겠습니다. </p>
</body>
</html>

<br>
<br>

<h2>만들고 싶은 IT 서비스 소개</h2>
{% endblock %}